
body {
	background: url(FinalAboutMePics/BarnBackground.jpg);
	background-size: 2016px 1512px;
	background-repeat: no-repeat;
	font-size: 24px;
}
.Nameplate {
  background: black;
  color: white;
  margin: 0px;
}
h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	color: white;
	font-size: 75px;
	text-shadow: 10px 10px black;
}
h3 {
	text-align: center;
	color: orange;
	font-size: 45px;
	margin: 0px;
	border: 1px solid black;
	background-color: gray;
	text-shadow: 2px 2px black;
}
/* Navigation Menu with Links */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}
li {
  float: left;
  margin: 0px 150px;
}
li a {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* blue content box */
.poem {
    float: right;
    background-color: #eaecf0;
    height: 100px;
    width: 360px;
    border: 1px solid #1f2630;
    padding: 3em 3em;
    margin: 20px 0;
    text-align: center;
    font-style: italic;
}
.boxed {
  border: 1px solid #b9c4e2;
  background-color: #eaecf0;
  padding: 100px 100px;
  font-family: century;
}
.image-with-caption {
  	margin-bottom: 30px;
    margin-left: 30px;
  	position: relative;
}
img {
  border: 10px solid gray;
    border-radius: 162px;
}
.caption1 {
	font-style: georgia bold;
  	position: absolute;
  	bottom:  0;
  	color: black;
  	background-color: white;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}