body {
	background: url(FinalAboutMePics/BarnBackground.jpg);
	background-size: 2016px 1512px;
	background-repeat: no-repeat;
}
.header {
	margin: 0px;
	height: 30px;
	width: 100%;
	background: black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 38px;
	color: white;
}
.topnav {
	list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #333;
    margin: 0px;
}
.topnav li {float: right;}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

.container {
	text-align: center;
}
.pic {
	border: 3px solid #ddd;
	border-radius: 8px;
	margin: 10px;
	display: inline-block;
	width: 350px;
	height: 250px;
}
.one {
	background: url(FinalAboutMePics/beau-sad.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.two {
	background: url(FinalAboutMePics/beau-happy.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.three {
	background: url(FinalAboutMePics/beau-tongue.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.four {
	background: url(FinalAboutMePics/beau-snow.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.five {
	background: url(FinalAboutMePics/beau-kindergarten.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.six {
	background: url(FinalAboutMePics/beau-mom.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.seven {
	background: url(FinalAboutMePics/beau-run.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.eight {
	background: url(FinalAboutMePics/beau-handsome.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.nine {
	background: url(FinalAboutMePics/beau-beach.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

/* Tablet Stylings */
@media all and (min-width: 461px) and (max-width: 1300px) {
	.pic  {
		width: 43%;
		float: left;
	}	
}

/* Mobile Stylings */
@media all and (max-width: 460px) {
.pic {
	float: none;
	width: 100%;
	margin: 1px;
	border: none;
}
.topnav {
	float: none;
}
}
